<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bizhawkz.d2dRoni">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.bizhawkz.d2dRoni.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bizhawkz.d2dRoni.ChemistRating" />
        <activity android:name="com.bizhawkz.d2dRoni.Nearchemeist" />
        <activity android:name="com.bizhawkz.d2dRoni.Chemis" />
        <activity android:name="com.bizhawkz.d2dRoni.ForgetPassword" />
        <activity android:name="com.bizhawkz.d2dRoni.Termspage" />
        <activity
            android:name="com.bizhawkz.d2dRoni.UploadPresc"
            android:label="@string/title_activity_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.bizhawkz.d2dRoni.Profile" />
        <activity android:name="com.bizhawkz.d2dRoni.Search" />
        <activity android:name="com.bizhawkz.d2dRoni.Login" />
        <activity android:name="com.bizhawkz.d2dRoni.AlertmessageDialog" />
        <activity android:name="com.bizhawkz.d2dRoni.FirstAidnew" />
        <activity android:name="com.bizhawkz.d2dRoni.FirstAid1" />
        <activity android:name="com.bizhawkz.d2dRoni.Ordernow" />
        <activity android:name="com.bizhawkz.d2dRoni.DailyCare" />
        <activity android:name="com.bizhawkz.d2dRoni.BabyCare" />
        <activity android:name="com.bizhawkz.d2dRoni.RegisterOption" />
        <activity android:name="com.bizhawkz.d2dRoni.Register" />
        <activity android:name="com.bizhawkz.d2dRoni.CheRegis" />
        <activity android:name="com.bizhawkz.d2dRoni.UploadMedicine" />
        <activity android:name="com.bizhawkz.d2dRoni.OrderRecieve" />
        <activity android:name="com.bizhawkz.d2dRoni.Admincla" />
        <activity android:name="com.bizhawkz.d2dRoni.Chemistupload" />
        <activity android:name="com.bizhawkz.d2dRoni.Summery" />
        <activity android:name="com.bizhawkz.d2dRoni.Test" />
        <activity android:name="com.bizhawkz.d2dRoni.Test1" />
        <activity android:name="com.bizhawkz.d2dRoni.Test2" />
        <activity android:name="com.bizhawkz.d2dRoni.Test3" />
        <activity android:name="com.bizhawkz.d2dRoni.Test4" />
        <activity android:name="com.bizhawkz.d2dRoni.DataActivity" />
        <activity android:name="com.bizhawkz.d2dRoni.Addressadd" />
        <activity android:name="com.bizhawkz.d2dRoni.OrderPlace1" />
        <activity android:name="com.bizhawkz.d2dRoni.MainActivity" />

        <service android:name="com.bizhawkz.d2dRoni.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.bizhawkz.d2dRoni.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.bizhawkz.d2dRoni.Mem" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.bizhawkz.d2dRoni.OrderTrack" />
        <activity android:name="com.bizhawkz.d2dRoni.OTCCounter" />
        <activity android:name="com.bizhawkz.d2dRoni.TestOrderRecieved" />
        <activity android:name="com.bizhawkz.d2dRoni.OrderReplied" />
        <activity android:name="com.bizhawkz.d2dRoni.OrderComplete" />
        <activity android:name="com.bizhawkz.d2dRoni.OrderProcessing" />
        <activity android:name="com.bizhawkz.d2dRoni.TokenGen"></activity>
    </application>

</manifest>